/build/
.gradle/
*.settings
*.project
*.classpath
medieval-warfare-game-desktop/bin/
medieval-warfare-game-core/bin/
medieval-warfare-game-core/saves/junit-saved-game.mwg
medieval-warfare-server/.database
